*{
    font-family: "Readex Pro", sans-serif;
    overflow-y: hidden;
  }

   /*body*/
   body{
    margin: 0;
    width: 100vw;
    height: auto;
    background-color: #edffe9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}  