* {
    font-family: "Readex Pro", sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-thumb {
    background-color: #23342e;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

body {
    width: 100vw;
    height: auto;
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

.container {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.info,
.link-img {
    display: flex;
    padding: 7% 0% 1%;
    flex-direction: column;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.div-logo {
    justify-content: center;
    display: flex;
    padding-bottom: 2%;
}

img {
    max-width: 10%;
    margin: 0;
}

.title {
    font-size: 20px;
    text-align: center;
    color: #23342e;
    font-weight: 500;
}

.icons {
    display: flex;
    align-items: center;
}

.whatsapp,
.behance,
.hospedagem {
    margin-right: 10px;
    background-color: #1a1c19;
    padding: 5px;
    border-radius: 5px;
}

h2 {
    font-size: 15px;
    color: #23342e;
    font-weight: 300;
    letter-spacing: 2px;
}

h3 {
    color: #23342e;
    font-weight: 400;
}

.div-high {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin-top: 10px;
    border: solid 1px rgb(35, 52, 46, 0.2);
    border-radius: 10px;

}

section.btn-links {
    display: flex;
    flex-direction: column;
}

a.link button {
    width: 100%;
    padding: 15px 40px 15px 40px;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    transition: 0.5s;
    background: #23b86d;
}

a.link button:hover {
    transition: ease-in 0.1ms;
    background-color: #22ac67;
}

footer {
    justify-content: center;
    display: flex;
    background-color: #1a1c19;
    margin-top: 8%;
    padding-top: 1px;
    padding-bottom: 12px;
}

.footer {
    font-weight: 300;
    font-size: 0.8em;
    color: #fff;

}

@media only screen and (max-width: 600px) {

    .container {
        justify-content: center;
        display: flex;
        max-width: 350px;
        padding-bottom: 10%;
    }

    .info,
    .title {
        display: flex;
        max-width: 98%;
        align-items: center;
    }

    .img {
        max-width: 40%;
        padding-top: 12%;
    }

    section.btn-links {
        padding-top: 3%;
    }

    .footer {
        padding: 1%;
    }
}