* {
    font-family: "Readex Pro", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 4px
}

::-webkit-scrollbar-thumb {
    background-color: #111111;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

body {
    width: 100vw;
    height: auto;
    margin: 0;
    background-color: #ffffff;
    box-sizing: border-box;
}

h2 {
    font-size: 15px;
    color: #111111;
    font-weight: 300;
    letter-spacing: 2px;
}

h3 {
    color: #111111;
    font-weight: 300;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* .info {
    justify-content: center;
} */

.div-logo {
    justify-content: left;
    display: flex;
    margin-left: 48px;
}

img {
    max-width: 25%;
    margin: 0;
}

.icons {
    display: flex;
    align-items: center;
}

.title {
    font-size: 25px;
    text-align: left;
    color: #111111;
    font-weight: 500;
    margin-left: 48px;
    letter-spacing: -1px;
}

.div-left-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    flex-direction: column;
}

.div-left {
    display: flex;
    width: 30vw;
    flex-direction: column;
    padding: 20px 20px;
    margin: 10px;
    border: solid 1px rgba(121, 121, 121, 0.2);
    border-radius: 10px;

}

.whatsapp,
.behance {
    margin-right: 10px;
    background-color: #111111;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

section.btn-links {
    display: flex;
    flex-direction: column;
}

a.link button {
    width: 100%;
    padding: 12px 30px 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 400;
    transition: 0.5s;
    background: #111111;
}

a.link button:hover {
    transition: ease-in 0.1ms;
    background-color: #8df79b;
    color: #111111;
}

.div-right-img,
.img-right {
    display: flex;
    max-width: 100vw;
}

footer {
    justify-content: center;
    display: flex;
    background-color: #111111;
    padding-top: 10px;
    padding-bottom: 12px;
}

.footer {
    font-weight: 300;
    font-size: 0.8em;
    color: #fff;

}


@media only screen and (max-width: 768px) {

    .container {
        justify-content: center;
        display: flex;
        max-width: 100vw;
        padding-bottom: 10%;
    }

    .div-right-img,
    .img-right {
        display: none;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .div-left {
        width: 85vw;
    }

    .div-left-links {
        width: 100vw;
        display: flex;
    }

    .div-logo{
        margin-left: 10px;
    }

    .img{
        max-width: 30%;
    }

    .title {
        margin-left: 10px;
        padding: 15px 0px;
        font-weight: 500;
        font-size: 20px;
    }


    section.btn-links {
        padding-top: 3%;
    }

    .footer {
        padding: 5px;
    }
}